/* Custom page CSS
-------------------------------------------------- */
/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@charset "UTF-8";*/
/*
body {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height:1.6;
    /*color:#636b6f
}
*/

body > div > .container {
  padding: 20px 0px 20px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.14rem 0.25rem;
  font-size: 0.690rem;
  line-height: 1;
  border-radius: 0.2rem;
}

[v-cloak] {
  display: none;
}
